#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

#gallery li {
  width: 28.3333%
}

#gallery li:nth-child(4n) {
  clear: left;
}

#primary {
  width: 50%;
  float: left;
}

#secondary {
  width: 40%;
  float: right;
}

#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}
#container{
  margin-top: 70px;
}
.img{
  /*padding-left: 30px;*/
  height: 300px;
  /*width: 350px;*/
}

.dbutton{
  padding-bottom: 10px;
  position: relative;
}
