.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.action-column {
    width: 150px;
    text-align: right;
}

.action-column .btn {
    margin-left: 3px;
}

.photo-block img {
    width: 100%;
    margin-bottom: 5px;
}

.column-photo {
    width: 50px;
}

.column-photo img {
    height: 30px;

}

/** Honeypot */
.honeypot-block {
    display: none;
}

.view-form .display-label {
    font-weight: bold;
    text-align: right;
    background: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-form .display-values {
    padding-top: 10px;
    padding-bottom: 10px;
}

.display-photo {
    width:100%;
}